.cont>.cont-right{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 100%;
}
.cont>.cont-right>.cont-gp-msg{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.cont>.cont-right>.cont-gp-msg>.cont-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 90%;
    background-color: #fff7f0;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.cont>.cont-right>.cont-gp-msg>.cont-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 90%;
    background-color: #fff7f0;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.cont>.cont-right>.cont-gp-msg>.cont-footer>.btn_attachs{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin:10px;
    cursor: pointer;
}

.cont>.cont-right>.cont-gp-msg>.cont-footer>.ipt_txtmsg>input{
    width: 98%;
    height: 20px;
    outline: 0;
    border: 0;
    margin: 5px;
}


.cont>.cont-right>.cont-gp-msg>.cont-footer>.ipt_txtmsg{
    width: 100%;
    background-color: white;
    height: 30px;
    border-radius: 10px;
    box-shadow: inset 0px 0px 0px 2px rgba(0, 0, 0, 0.109);
}

.cont>.cont-right>.cont-gp-msg>.cont-footer>.btn_send{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin:10px;
    cursor: pointer;
}

.cont>.cont-right>.cont-gp-msg>.cont-head>.cont-userinfo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
}

.cont>.cont-right>.cont-gp-msg>.cont-head>.cont-userinfo>.cont-photo{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px #7b0b52 solid;
    border-radius: 180px;
}

.cont>.cont-right>.cont-gp-msg>.cont-head>.cont-userinfo>.cont-gp-info{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 5px;
}

.cont>.cont-right>.cont-gp-msg>.cont-head>.cont-userinfo>.cont-gp-info>.status>p{
    font-size: 10pt;
}

.cont>.cont-right>.cont-gp-msg>.cont-head>.cont-userinfo>.cont-gp-info>.username>strong{
    font-size: 11pt;
}

.cont>.cont-right>.cont-gp-msg>.cont-head>.cont-options{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40px;
    margin-right: 15px;
}

.cont>.cont-right>.cont-gp-msg>.cont-head>.cont-options>.btn_close{
    cursor: pointer;
}

.cont>.cont-right>.cont-gp-msg>.cont-head>.cont-options>.btn_more{
    cursor: pointer;
}

.cont>.cont-right>.cont-gp-msg>.cont-body{
    font-size: 10pt;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: inherit;
    height: 100%;
    overflow-y: scroll;
}
.cont>.cont-right>.cont-gp-msg>.cont-body>.cont-case-mymsg{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 90%;
    padding-top: 5px;
    padding-bottom: 5px;
}

.cont>.cont-right>.cont-gp-msg>.cont-body>.cont-case-mymsg>.cont-mymsg{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: fit-content;
    background-color: #fff7f0;
    flex-direction: column;
    padding: 10px;
    border-radius: 15px;
    border-bottom-right-radius: 0;
    max-width: 80%;
}

.cont>.cont-right>.cont-gp-msg>.cont-body>.cont-case-mymsg>.cont-mymsg>.cont-gp-infos{
    display: flex;
    justify-content: center;
    align-items: center;

}

.cont>.cont-right>.cont-gp-msg>.cont-body>.cont-case-mymsg>.cont-mymsg>.cont-gp-infos>.check{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont>.cont-right>.cont-gp-msg>.cont-body>.cont-case-mymsg>.cont-mymsg>.cont-gp-infos>.time{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8pt;
    color: gray;
    padding-top: 5px;
}

.cont>.cont-right>.cont-gp-msg>.cont-body>.cont-case-umsg{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.cont>.cont-right>.cont-gp-msg>.cont-body>.cont-case-umsg>.cont-umsg{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: fit-content;
    background-color: #fdebda;
    flex-direction: column;
    border-radius: 15px;
    border-bottom-left-radius: 0;
    padding: 8px;
    max-width: 80%;
}

.cont>.cont-right>.cont-gp-msg>.cont-body>.cont-case-umsg>.cont-umsg>.time{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8pt;
    color: gray;
    padding-top: 5px;
}



