@import url('https://fonts.googleapis.com/css2? family = Poppins & display = swap');

*{
    margin: 0;
    padding: 0;
}

/* div{
    border: 1px solid;
} */

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px #fff7f0 inset !important;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

body>img{
    position: absolute;
    z-index: -10;
    height: 100vh;
    width: 100vw;
}

.cont{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: #7b0b52ad;
    height: 60vh;
    width: 400px;
    border-radius: 10px;
    padding: 10px;
}

.cont>.cont-header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 390px;
    font-size: 30pt;
    color: #fff7f0;
}
.cont>.cont-header>.text{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100%;
}

.cont>.cont-header>.btn_login{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    position: absolute;
    margin-right: 350px;
    cursor: pointer;
    border-radius: 180px;
    transform: rotate(180deg);
}

.cont>.cont-header>.btn_login:hover{
    background-color: #6b0a47ad;
    transition: ease-in-out .4s;
}

.cont>.register-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 330px;
    border-radius: 10px;
    padding: 30px;
    background-color: #fff7f0;

}

.cont>.register-box>.cont-inputs{
    width: 90%;
    margin-top: 30px;
    height: 9%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: flex-start;
}

.cont>.register-box>.username{
    margin-top: 0;
}

.cont>.register-box>.cont-inputs>p{
    position:absolute;
    transition: all .4s ease;
}

.cont>.register-box>.cont-inputs{
    height: 30px;
    border-bottom: 2px #7b0b52 solid;
    font-size: 13pt;
    color: #7b0b52;
}
.cont>.register-box>.cont-inputs> input{
    height: 80px;
    background-color: transparent;
    outline: none;
    border: none;
    z-index: 10;
    width: 100%;
}

.cont>.register-box>.cont-inputs> input:focus,
.cont>.register-box>.cont-inputs> input:valid{
    height: 20px;
}

.cont>.register-box>.cont-inputs> input:focus ~ p,
.cont>.register-box>.cont-inputs> input:valid ~ p{
    transform: translateY(-20px);
    user-select: none;
    background: transparent;
}

.cont>.register-box>input:focus{
    box-shadow: 0px 0px 3px #7b0b52;
}

.cont>.cont-gp{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 390px;
}


.cont>.cont-gp>.cont-photo>.photoframe{
    height: 50px;
    width: 50px;
    border: 3px #fff7f0 solid;
    border-radius: 180px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
}

.cont>.cont-gp>.cont-photo>.photoframe-status{
    color: #fff7f0;
    padding: 5px;

}

.cont>.cont-gp>.cont-btn_register{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

.cont>.cont-gp>.cont-btn_register>a{
    font-size: 10pt;
    padding: 10px;
    margin-left: 5px;
    background-color: #fff7f0;
    text-decoration: none;
    color: #7b0b52;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    width: 80px;
}

.cont>.cont-gp>.cont-btn_register>input{
    outline: none;
    font-size: 10pt;
    font: 20pt;
    padding: 10px;
    background-color: #fff7f0;
    text-decoration: none;
    color: #7b0b52;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    width: 100px;
}

.cont>.cont-gp>.cont-btn_register>input{
    border:none!important;
    cursor: pointer;
}

.cont>.cont-gp>.cont-btn_register> input:hover,
.cont>.cont-gp>.cont-btn_register> a:hover{
    background-color: rgb(236, 234, 234);
    transition: ease-in-out .4s;
}